@mixin button {
    background-color: lightblue;
    border: 1px transparent solid;
    border-radius: 3px;
    color: black;
    font-family: "Dosis", sans-serif;
    font-weight: bold;
    margin: 1em;
    padding: 1em;

    transition: transform 200ms ease-out;

    &:hover {
        background-color: black;
        border: 1px solid white;
        color: white;
        transform: scale(105%);
    }
}