@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body {
  background-color: #111111;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  color: white;
  font-weight: 300;
}

h1,h2,h3 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}